<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7080dc">  <td>21/03/03 20:18:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib.setUp(java.lang.String, java.lang.String)[pri:0, instance:com.ltfs.farm.scripts.DashboardTest@33cb5951]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@341748265</td>   <td></td> </tr>
<tr bgcolor="7080dc">  <td>21/03/03 20:19:19</td>   <td>56814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.teardown()[pri:0, instance:com.ltfs.farm.scripts.DashboardTest@33cb5951]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@341748265</td>   <td></td> </tr>
<tr bgcolor="7d6a68">  <td>21/03/03 20:18:45</td>   <td>23122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.testSearchIcon(java.lang.String, java.lang.String)[pri:0, instance:com.ltfs.farm.scripts.DashboardTest@33cb5951]">testSearchIcon</td> 
  <td>main@341748265</td>   <td></td> </tr>
</table>
