<h2>Reporter output</h2><table><tr><td>Suite Execution starts: Wed Mar 03 20:18:21 IST 2021</td></tr>
<tr><td>testSearchIconscript execution starts: Wed Mar 03 20:18:45 IST 2021</td></tr>
<tr><td>testSearchIcon script is passed</td></tr>
</table>